<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <form th:action="@{/tipoEquipo/form}" th:object="${TipoEquipo}" method="post" enctype="multipart/form-data">
            <input type="text" th:field="*{nombre}"/>
            <input type="submit" value="enviar"/>
        </form>
        
        
    </body>
</html>
