<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            editar equipo
        </div>
        <form th:action="@{/equipo/from}" th:object="${Equipo}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id_equipo}" th:value="${Equipo.id_equipo}" />
             <select th:field="*{tipoEquipo}" class="form-control"  id="testOrder" name="testOrder">
                    
                    <option th:each="tipoEqui : ${listTipoEqui}"
                            th:value="${tipoEqui.id_tipo_equipo}"
                            th:text="${tipoEqui.nombre}" 
                            th:selected="${tipoEqui.id_tipo_equipo == Equipo.tipoEquipo.id_tipo_equipo}" 
                            ></option>
             </select><br/>
             serie:<input type="text" th:field="*{serie}"/><br/>
             codigo interno:<input type="text" th:field="*{cod_interno}"/><br/>
             marca:<input type="text" th:field="*{marca}"/><br/>
             modelo:<input type="text" th:field="*{modelo}"/><br/>
             
            <input type="submit" value="enviar"/>
            
         </form>
        
    </body>
</html>
