<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> 
    
    <head th:include="plantilla/fragmentos :: head">
        
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <aside id="left-panel" class="left-panel" th:include="plantilla/fragmentos :: aside">
            
        </aside>
        <div id="right-panel" class="right-panel">
            <header id="header" class="header" th:include="plantilla/fragmentos :: header">
                
            </header>
            <div class="breadcrumbs" th:include="plantilla/fragmentos :: breadcrumds" >
                
            </div>
            <div class="content mt-3">
                
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Listado Solicitudes de asignación</strong>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th scope="col">RUT Solicitante</th>
                                  <th scope="col">RUT Receptor</th>
                                  <th scope="col">Tipo de Equipo</th>
                                  <th scope="col">Estado</th>
                                  <th scope="col">Detalle</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr th:each="docRel : ${lisDocum}">
                                    <td th:text="${docRel.solicitante.idNacional}">
                                                        
                                    </td>
                                    <td th:text="${docRel.receptor.idNacional}">
                                                        
                                    </td>
                                    <td th:text="${docRel.doc.tipoEquipo.nombre}">
                                                       
                                    </td>
                                    <td th:text="${docRel.doc.estado.descEstado}">
                                                        
                                    </td>
                                    <td >
                                        <a th:href="'/document/ficha/'+${docRel.doc.id}" ><input class="btn btn-primary" type="button" value="Detalle"/></a>
                                    </td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <footer style="display: none" th:include="plantilla/fragmentos :: footer">
            
        </footer>
                      
        <script>
            function sel(rut,id){
                
                $("#rut").val(rut);
                $("#id").val(rut);
                from();
            }
            function allUser(){
                $("#principal").css("display","none");
                $("#listadoUser").css("display","block");
            }
            function from(){
                $("#listadoUser").css("display","none");
                $("#principal").css("display","block");
            }
            
        </script>
       
    </body>
</html>

