<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> 
    
        <head th:fragment="head">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PMRTI</title>
        <meta name="description" content="Sufee Admin - HTML5 Admin Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-icon.png">
        <link rel="shortcut icon" href="favicon.ico">

        <link rel="stylesheet" href="../../css/normalize.css">
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" href="../../css/font-awesome.min.css">
        <link rel="stylesheet" href="../../css/themify-icons.css">
        <link rel="stylesheet" href="../../css/flag-icon.min.css">
        <link rel="stylesheet" href="../../css/cs-skin-elastic.css">
        <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
        <link rel="stylesheet" href="../../scss/style.css">
        <link href="../../css/lib/vector-map/jqvmap.min.css" rel="stylesheet">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

        <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

    </head>
        
    <body>
        <div th:if="${session.usuario } != null"> 
            <span th:text="${session.usuario.departamento }">yonis</span>
        </div>
        <aside id="left-panel" class="left-panel" th:fragment="aside">
            <nav class="navbar navbar-expand-sm navbar-default">

                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="./">PMRTI</a>
                    <a class="navbar-brand hidden" href="./"><img src="../../images/logo2.png" alt="Logo"></a>
                </div>

                <div id="main-menu" class="main-menu collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a th:href="@{index}" > <i class="menu-icon fa fa-dashboard"></i> Menu <span th:text="${session.usuario.departamento}"></span> </a>
                            
                        </li>
                        <h3 th:href="@{index}" class="menu-title">Opciones </h3><!-- /.menu-title -->
                        
                        <li th:href="@{index}" th:if="${session.usuario.departamento}== 'RRHH' or ${session.usuario.departamento}== 'ADM'  " class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Solicitudes Asinaciones</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-puzzle-piece"></i><a th:href="@{/solicitudAsig/creaSolicitud}">Solicilar Asignación de Equipo</a></li>
                                <li><i class="fa fa-bars"></i><a th:href="@{/solicitudAsig/listaSoliAsig}"> Listar Solicitudes de asignación de equipos</a></li>                                                                
                            </ul>
                        </li>
                        
                        <li th:href="@{index}"  class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Prestamos</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-puzzle-piece"></i><a th:href="@{/prestamo/pedirPrestamo}">Solicilar Prestamo</a></li>
                                <li><i class="fa fa-bars"></i><a th:href="@{/prestamo/listar}"> Listar Solicitudes Prestamo</a></li>                                                                
                            </ul>
                        </li>
                        <li th:href="@{index}" th:if="${session.usuario.departamento}== 'TI' or ${session.usuario.departamento}== 'ADM' " class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Entregas</a>
                            <ul class="sub-menu children dropdown-menu">                                
                                <li><i class="fa fa-bars"></i><a th:href="@{/entrega/listarSolicitudEstado}"> Listar Solicitudes pendientes</a></li>                                                                
                            </ul>
                        </li>
                        <li th:href="@{index}" th:if="${session.usuario.departamento}== 'TI' or ${session.usuario.departamento}== 'ADM' " class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Recepción de Equipos</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-bars"></i><a th:href="@{/devolucion/listar}"> Listar Equipos Pendiente de Devolución</a></li>                                                                
                            </ul>
                        </li>
                        <li th:href="@{index}" th:if="${session.usuario.departamento}== 'TI' or ${session.usuario.departamento}== 'ADM' " class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Administracion Equipos</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-puzzle-piece"></i><a th:href="@{/equipo/form}">Crear Equipos</a></li>
                                <li><i class="fa fa-bars"></i><a th:href="@{/equipo/listar}"> Listar Equipos  </a></li>                                                                
                            </ul>
                        </li>
                        
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </aside>
        <div id="right-panel" class="right-panel">

            <!-- Header-->
            <header id="header" class="header" th:fragment="header">

                <div class="header-menu">

                    <div class="col-sm-7">
                        <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                        <div class="header-left">
                            <button class="search-trigger"><i class="fa fa-search"></i></button>
                            <div class="form-inline">
                                <form class="search-form">
                                    <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                    <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                                </form>
                            </div>

                            <div class="dropdown for-notification">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bell"></i>
                                    <span class="count bg-danger">5</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="notification">
                                    <p class="red">You have 3 Notification</p>
                                    <a class="dropdown-item media bg-flat-color-1" href="#">
                                        <i class="fa fa-check"></i>
                                        <p>Server #1 overloaded.</p>
                                    </a>
                                    <a class="dropdown-item media bg-flat-color-4" href="#">
                                        <i class="fa fa-info"></i>
                                        <p>Server #2 overloaded.</p>
                                    </a>
                                    <a class="dropdown-item media bg-flat-color-5" href="#">
                                        <i class="fa fa-warning"></i>
                                        <p>Server #3 overloaded.</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="user-area dropdown float-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="user-avatar rounded-circle" src="../../images/admin.jpg" alt="User Avatar">
                            </a>

                            <div class="user-menu dropdown-menu">
                                <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                                <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>

                                <a class="nav-link" href="/logout"><i class="fa fa-power -off"></i>Logout</a>
                            </div>
                        </div>
                    </div>
                </div>

            </header><!-- /header -->
            <!-- Header-->

            <div class="breadcrumbs" th:fragment="breadcrumds">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Equipos</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li class="active">Registrar equipos</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content mt-3">

                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h4 class="card-title mb-0">Registrar Equipo</h4>
                                    <div class="small text-muted">Datos del equipo</div>
                                </div>
                                <!--/.col-->
                                <!--/.col-->
                            <div class="col-sm-8 hidden-sm-down">
                                
                            </div>
                                <!--/.col-->
                                <div class="chart-wrapper mt-4" >
                                    
                                </div>
                                <!--/.col-->
                            </div><!--/.row-->

                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Equipos asignados</div>
                                    <div class="stat-digit">260</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="ti-layout-grid2 text-warning border-warning"></i></div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Equipos en prestamo</div>
                                    <div class="stat-digit">15</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- .content -->
        </div><!-- /#right-panel -->
    <footer style="display: none" th:fragment="footer">
        <script src="http://localhost:8080/js/vendor/jquery-2.1.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="http://localhost:8080/js/plugins.js"></script>
        <script src="http://localhost:8080/js/main.js"></script>

        <script src="http://localhost:8080/js/lib/chart-js/Chart.bundle.js"></script>
        <script src="http://localhost:8080/js/dashboard.js"></script>
        <script src="http://localhost:8080/js/widgets.js"></script>
        <script src="http://localhost:8080/js/lib/vector-map/jquery.vmap.js"></script>
        <script src="http://localhost:8080/js/lib/vector-map/jquery.vmap.min.js"></script>
        <script src="http://localhost:8080/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
        <script src="http://localhost:8080/js/lib/vector-map/country/jquery.vmap.world.js"></script>
        <script src="http://localhost:8080/js/vendor/bootstrap.min.js" type="texrap.t/javascript"></script>
        <script>
            (function ($) {
                "use strict";

                jQuery('#vmap').vectorMap({
                    map: 'world_en',
                    backgroundColor: null,
                    color: '#ffffff',
                    hoverOpacity: 0.7,
                    selectedColor: '#1de9b6',
                    enableZoom: true,
                    showTooltip: true,
                    values: sample_data,
                    scaleColors: ['#1de9b6', '#03a9f5'],
                    normalizeFunction: 'polynomial'
                });
            })(jQuery);
        </script>
        </footer>
    </body>    
        
</html>
